
.navigation-bar ul li, .hotbar-button {
    text-decoration: none;
    display: inline;
    background: none;
    color: white;
    min-width: 10%;
    padding: 8px;
}

#icon {
    width: 10%;
    background: none;
    position: absolute;
    left: 48px;
    top: 16px;
}

.navigation-bar ul {
    background-color: rgba(38, 36, 35, .9);
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 27px;
    background-color: #262423;
}

.navigation-bar ul li a:hover {
    color: #a0e081;
    transition: .2s;
}

.image-container {
    height: 500px;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202407/1020/91fe046f742042e3b31e57f7731dbe2226e1fd1e02a36223.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.infomation-contaiber-ctr, .infomation-contaiber-ctr h1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    background: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 170%;
    color: white;
}

.infomation-contaiber-ctr p {
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 100px;
    background: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 90%;
}

#hotbar-button {
    position: absolute;
    bottom:   33%;
    width: 300px;
    height: 100px;
    background-color: #36b030;
    border-color: #36b030;
    font-family: sans-serif;
    color: white;
    font-size: 150%;
}

#hotbar-button:hover {
    background-color: #262423;
    border-color: #151514;
    transition: .5s;
    cursor: pointer;
}